* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(./images/425_HP_SolarPanels_D.jpeg);
  background-size: cover;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.banner-wrap {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 2% 6%;
  width: 100%;
  align-items: center;
}

main {
  text-align: center;
  align-items: center;
}

.main-title {
  text-align: center;
  align-items: center;
}

.action-btn {
  padding-top: 30%;
}

.button {
  background-color: aqua;
  color: beige;
  width: 60px;
  height: 40px;
  padding: 15px 32px;
}

.button:hover {
  background-color: #eee5df;
  color: white;
}

.svg {
  width: 150px;
  height: 100px;
  cursor: pointer;
  margin-left: 2px;
}
